.tareaCompletada {
    background-color: rgb(0, 128, 0) !important;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: rgb(253, 252, 252) !important;
}

.tareaPendiente {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.slide-out {
    animation: slideOut 0.6s forwards;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
